body {
    /* Fondo animado tipo espacio con estrellas */
    background: #0a0026;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}






#titulo{
    text-align: center;
    padding: 10px;
    
}

#htitulo {
    color: black;
    margin: 0;
    padding-bottom: 1%;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    animation: glow 3s ease-in-out infinite alternate;
    text-align: center;
  }

@keyframes glow {
    from {
      text-shadow: 0 0 30px #ec00f9;
    }
    to {
      text-shadow: 0 0 400px rgb(0, 0, 0), 0 0 20px #ec00f9;
    }
  }

.container{
  text-align:center;
}

.fade-in-text{
  opacity:0;
  animation: fadeIn 12s forwards;
}


@keyframes fadeIn{
  from{ opacity: 0;}
  to{ opacity: 1; }

}






#credits{
    text-align: right;
    padding-top: 10%;
}


#credits h1{
    font-family:  'Arial Narrow Bold', sans-serif, impact;
    font-size: 100%;
    text-align:center;
    color: #ffffff80;
}











