body{
    background: rgb(0, 0, 0);  

}

#titulo{
    text-align: center;
    padding: 10px;
    
}

#htitulo {
    color: black;
    margin: 0;
    padding-bottom: 1%;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    animation: glow 3s ease-in-out infinite alternate;
    text-align: center;
  }

@keyframes glow {
    from {
      text-shadow: 0 0 30px #ec00f9;
    }
    to {
      text-shadow: 0 0 400px rgb(0, 0, 0), 0 0 20px #ec00f9;
    }
  }


.orbe {
  animation:spin 3s linear infinite;
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 140px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 60px violet,
    inset -20px 0 60px blue,
    inset 20px 0 300px violet,
    inset -20px 0 300px blue,
      0 0 50px #e400f9,
      -10px 0 60px violet,
      10px 0 60px blue;
    }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




#credits{
    text-align: right;
    padding-top: 10%;
}

#credits h1{
    font-family:  'Arial Narrow Bold', sans-serif, impact;
    font-size: 100%;
    text-align:center;
    color: #ffffff80;
}