body{
    display:flex;
    background: linear-gradient(#4A148C,#D500F9,#651FFF)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#titulo{
    text-align: center;
    padding: 10px;
    
}

#htitulo {
    color: black;
    margin: 0;
    padding-bottom: 1%;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    animation: glow 3s ease-in-out infinite alternate;
    text-align: center;
  }

@keyframes glow {
    from {
      text-shadow: 0 0 30px #ec00f9;
    }
    to {
      text-shadow: 0 0 400px rgb(0, 0, 0), 0 0 20px #ec00f9;
    }
  }

.container{
  text-align:center;
}

.fade-in-text{
  opacity:0;
  animation: fadeIn 12s forwards;
}


@keyframes fadeIn{
  from{ opacity: 0;}
  to{ opacity: 1; }

}


.contenedor-galeria{
  display: grid;
  place-items: center;
  width: 100px;
}

.galeria{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 400px;
}

.contenedor-imagenes{
  position: relative;
  left: 0;
  width: 80px;
  border-radius: 5px;
  height: 150px;
  overflow: hidden;
  background-color: #efefef;
  transition: 0.4s ease-in-out;
  flex: 0.25;
}

.contenedor-imagenes img{
  height: 150px;
  width: 100px;
  object-fit: cover;
}

.contenedor-imagenes:hover{
  flex: 2;
  cursor: pointer;
  border-radius: 8px;
}







#credits{
    text-align: right;
    padding-top: 10%;
}


#credits h1{
    font-family:  'Arial Narrow Bold', sans-serif, impact;
    font-size: 100%;
    text-align:center;
    color: #ffffff80;
}









