body {
    background: #0a0026;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}






#titulo{
    text-align: center;
    padding: 10px;
    
}

#htitulo {
    color: black;
    margin: 0;
    padding-bottom: 1%;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    animation: glow 3s ease-in-out infinite alternate;
    text-align: center;
  }

@keyframes glow {
    from {
      text-shadow: 0 0 30px #ec00f9;
    }
    to {
      text-shadow: 0 0 400px rgb(0, 0, 0), 0 0 20px #ec00f9;
    }
  }

.container{
  text-align:center;
}

.fade-in-text{
  opacity:0;
  animation: fadeIn 12s forwards;
}


@keyframes fadeIn{
  from{ opacity: 0;}
  to{ opacity: 1; }

}






#credits{
    text-align: right;
    padding-top: 10%;
}


#credits h1{
    font-family:  'Arial Narrow Bold', sans-serif, impact;
    font-size: 100%;
    text-align:center;
    color: #ffffff80;
}

/* 4. 🚀 ESTILO PARA EL TEXTO GRANDE Y CENTRAL 🚀 */
#cuerpo-principal {
    max-width: 800px; /* Limita el ancho del texto */
    margin: 50px auto; /* Centra el div horizontalmente y da margen arriba/abajo */
    padding: 20px;
    background-color: white;
    opacity:70%;
    border-radius: 18px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centra el texto dentro del div */
}

#cuerpo-principal p {
    font-size: 2.5em; /* Tamaño de fuente MUY grande */
    color: black; /* Color naranja/rojo para que resalte */
    font-weight: bold; /* Texto en negrita */
    line-height: 1.4; /* Espaciado entre líneas */
}









